%p{:style => "color: green"}= notice
%h1 Counters
#counters
  - @counters.each do |counter|
    = render counter
    %p
      = link_to "Show this counter", counter
= link_to "New counter", new_counter_path
